<!-- <h1 style="text-align:center"> <%= @title %></h1>-->
<div class="jumbotron jumbotron-fluid" style="background-color: #100e17;">
<!--        background-image: linear-gradient(to bottom right, #469dff, #469dff)-->
  <div class="container-fluid" style="text-align: center; color: white">
  <a href="https://github.com/Ajay-Kale/Banner-Images" style="text-align: right; color: white"> <h4>Github</h4> </a>
      <%= image_tag("backimg.png", class: "bas") %>
      <%= image_tag("BUG-DEFECT-ERROR.gif", class: "bbs") %> 
      <h1 class="display-4" style="text-align: center; font-weight:400px"><b>AJAY KALE</b></h1>
      <p class="lead" style="text-align: center;"><h4>Innovative, Creative & Interactive Webdesigns to boost customer engagements.</h4>   
    
      <i class="fa fa-github" style="font-size:40px; color: white; margin-top: 30px"></i>
      <br>
      </a>
      
       <a href="http://linkedin.com/in/ajay-kale" class="button" style="text-decoration: none">
              <button  name="subject" style="border-radius:30px 30px 30px 30px; background-color: white; border-color: white; border: none; margin-top: 40px;"><span style="padding: 30px; color:#100e17"><b>HIRE ME</b></span></button>
              </a>
            
      <p style="font-size: 30px; margin-top: 50px">↓</p>
  </div>
</div>
      <div style="width: auto; text-align: center; padding: 50px">
          <h1 style="margin-bottom: 50px; color: #469dff">About Me</h1>
          <p>
          <h3>
             Ability to create innovative, creative & interactive web designs to boost customer engagement.<br> knowledge in HTML5, CSS, Bootstrap, Angular7, Photoshop, banners, web designs etc.</h3>
          
      </div>
    
      <div style="text-align: center; padding-top: 50px; background-color: #007bff; margin-top: 50px">
        <div class="container">
          <h1 style="margin-bottom: 50px; color: white">Experts In</h1>
                         
  <div class="row" style="margin-bottom: 50px">
    <div class="col-sm" style="margin: 20px; background-color: white; padding: 30px; border-radius: 50px 15px 15px 15px;">
    <%= image_tag("icn.png") %> 
        <h4> Web Development</h4>
        <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
    <div class="col-sm" style="margin: 20px; background-color: white; padding: 30px; border-radius: 15px 15px 15px 15px;">
    <%= image_tag("icn.png") %> 
        <h4> Web Design</h4>
          <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
    <div class="col-sm" style="margin: 20px; background-color: white; padding: 30px; border-radius: 15px 50px 15px 15px;">
    <%= image_tag("icn.png") %> 
        <h4>Graphic Design</h4>
          <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
  </div>
                    
<!--        <div class="row">
    <div class="col-sm" style="margin: 20px; background-color: white; padding: 30px; border-radius: 15px 15px 15px 50px;">
    <%= image_tag("icn.png") %> 
        <h4> Web Development</h4>
        <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
    <div class="col-sm" style="background-color: white; margin: 20px; padding: 30px">
    <%= image_tag("icn.png") %> 
        <h4> Web Design</h4>
          <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
    <div class="col-sm" style="padding-bottom: 50px; background-color: white; margin: 20px; padding: 30px; border-radius: 15px 15px 50px 15px;">
    <%= image_tag("icn.png") %> 
        <h4>Graphic Design</h4>
          <p>          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
</p>
    </div>
  </div> -->
                    
</div>
          
      </div>
      
      <!--work-->
      
       <div style="color: #469dff; text-align: center; background-color:white; margin-top: 50px">
        <div class="container">
          <h1 style="margin-bottom: 50px">Latest Work</h1>
          
                
  <div class="row" style="margin-bottom: 50px">
    <div class="col-sm">
    <%= image_tag("aj10.png", class:"bcs") %> 
        <h4> MessageBoard</h4>
        <p> 
</p>
    </div>
    <div class="col-sm">
    <%= image_tag("log.png", class:"bds") %> 
        <h4> Packers and Movers</h4>
          <p>
</p>
    </div>
    <div class="col-sm">
    <%= image_tag("log.png", class:"bds") %> 

        <h4>Jagdamba electicals</h4>
          <p>
</p>
    </div>
  </div>
               
</div>
          
      </div>

      <!--/work-->
      
       <div class="container">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("3.jpg", class:"bes, img-thumbnail") %> 
                  </div>
               <div class="col-md-4">
               <%= image_tag("10.jpg", class:"bfs, img-thumbnail") %> 

                  </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("13.jpg", class:"bgs, img-thumbnail") %>
                  </div>
      </div>
      </div>
      </div>
      
        <div class="container" style="margin-top:40px">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("Product0.jpg", class:"bhs, img-thumbnail") %>

                  </div>
               <div class="col-md-4">
               <%= image_tag("Offer4.jpg", class:"bhs, img-thumbnail") %>
                  </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("quote30.jpg", class:"bhs, img-thumbnail") %>
                
                  </div>
      </div>
      </div>
      </div>
      
         <div class="container" style="margin-top:40px">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("21.jpg", class:"bhs, img-thumbnail") %>
          
                  </div>
               <div class="col-md-4">
               <%= image_tag("32.jpg", class:"bhs, img-thumbnail") %>
                
                  </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("quote13.jpg", class:"bhs, img-thumbnail") %>
                  </div>
      </div>
      </div>
      </div>
      
        <div class="container" style="margin-top:40px">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("quote32.jpg", class:"bgs, img-thumbnail") %>
                  </div>
               <div class="col-md-4">
               <%= image_tag("quote29.jpg", class:"bgs, img-thumbnail") %>
                     </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("quote25.jpg", class:"bgs, img-thumbnail") %>
                 </div>
      </div>
      </div>
      </div>
      
       <div class="container" style="margin-top:40px">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("Quote10.jpg", class:"bgs, img-thumbnail") %>
                   </div>
               <div class="col-md-4">
               <%= image_tag("quote14.jpg", class:"bgs, img-thumbnail") %>
                  </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("Quote1.jpg", class:"bgs, img-thumbnail") %>
                    </div>
      </div>
      </div>
      </div>
      
        <div class="container" style="margin-top:40px; margin-bottom:40px">
              <div class="col-md-12">
                  <div class="row">
              <div class="col-md-4">
              <%= image_tag("quote19.jpg", class:"bgs, img-thumbnail") %>
                  </div>
               <div class="col-md-4">
               <%= image_tag("quote23.jpg", class:"bgs, img-thumbnail") %>
                 </div>
                      
                      <div class="col-md-4">
                      <%= image_tag("quote.jpg", class:"bgs, img-thumbnail") %>
                  </div>
      </div>
      </div>
      </div>
      
      <div class="col-md-12" style="padding-bottom: 50px; padding-top: 50px; color: white; background-color:#007bff">
          <div class="row">
          <div class="col-md-8">
          <h1 style="text-align: right">Need a Web Designer?<span><b> Ready to Work</b>
              </span></h1>
              </div>
          <div class="col-md-4" style="margin-top: 15px">
          
       <a href="http://linkedin.com/in/ajay-kale" class="button" style="text-decoration: none">
              <button  name="subject" style="border-radius:30px 30px 30px 30px; background-color: white; border-color: white; border: none"><span style="padding: 30px; color:#469dff"><b>HIRE ME</b></span></button>
              </a>
              
              </div>
              
    </div>
</div>

          <div>
              <h6 style="color: #007bff; text-align: center"><b>CREATED AND <span style="font-size: 21px">♥</span> BY AJAAY</b></h6>
          </div>